main {
    display: flex;
    flex-direction: column;
}

/* --- main content --- */

main .main-content {
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

main .main-content h2 {
    margin-bottom: 2%;
    font-size: 1.8em;
}

main .main-content .text p {
    width: 75%;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6;
}

/* --- Techs --- */

main .techs {
    padding: 5%;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main .techs h2 {
    margin-bottom: 0.6em;
    font-size: 1.8em;
}

main .techs .cards-container {
    display: flex;
    align-items: center;
}

main .techs .cards-container .card {
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #333;
    border-radius: 8px;
    margin: 0.6em;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.25s ease-in-out;
}

main .techs .cards-container .card:hover {
    box-shadow: 0px 0px 8px #00e0ff;
    transition: 0.25s ease-in-out;
    background-color: #222;
}

main .techs .cards-container i {
    color: #00e0ff;
    font-size: 4em;
}

/* --- Figure --- */

main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main figure img {
    width: 400px;
    height: 400px;
    border-radius: 200px;

    margin-bottom: 6%;
    border: 1px #00e0ff solid;
    transition: 0.2s ease-in-out;
}

main figure img:hover {
    box-shadow: 0px 0px 6px #00e0ff;
}
