@media (max-width: 1200px) {
  main {
    width: 100%;

    flex-direction: column;
    justify-content: center;
  }

  /* --- main content --- */

  main .main-content {
    padding: 5%;
  }

  main .main-content .text p {
    font-size: 1em;
  }

  main .main-content .text h2 {
    font-size: 1.5em;
  }

  /* --- figure --- */

  main figure img {
    width: 250px;
    height: 250px;
  }

  /* --- techs --- */

  main .techs {
    justify-content: space-between;
  }

  main .techs h2 {
    font-size: 1.5em;
    margin-bottom: 3%;
  }

  main .techs .cards-container .card {
    width: 80px;
    height: 80px;
  }

  main .techs .cards-container i {
    font-size: 3em;
  }

  /* --- projects --- */

  main .projects .projects-list {
    display: flex;
  }

  main .projects h2 {
    font-size: 1.5em;
  }

  main .projects .projects-list h3, p {
    font-size: 80%;
  }

  main .projects .projects-list .project-card {
    padding: 3%;
  }

  main .projects .projects-list .project-card {
    width: 80%;
  }
}

@media (max-width: 700px) {

  /* --- header --- */

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
  }

  header h1 {
    font-size: 1.8em;
  }

  header h2 {
    font-size: 1em;
  }

  header nav {
    margin-top: 20px;
  }

  header nav a {
    font-size: 1.2em;
  }

  /* --- main-content --- */

  main .main-content {
    display: flex;
    flex-direction: column;
  }

  main .main-content .text h2, .main-content .techs h2 {
    font-size: 1.2em;
  }

  /* --- figure --- */

  main figure img {
    margin-top: 6%;
    margin-bottom: 3%;
  }

  /* --- techs --- */

  main .techs .cards-container .card {
    width: 60px;
    height: 60px;
    margin: 0.25em;
  }

  main .techs .cards-container i {
    font-size: 2em;
  }

  /* --- projects --- */

  main .projects .projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .projects .projects-list .project-card {
    width: 80%;
    margin-bottom: 5%;
  }

  main .projects .projects-list .project-card .project {
    width: 100%;
    height: 100%;
  }

  main .projects .projects-list h3, p {
    font-size: 95%;
  }
}
