@media (max-width: 1200px) {
  main {
    width: 100%;

    flex-direction: column;
    justify-content: center;
  }

  /* #Region - main-content */
  main .main-content .text p {
    font-size: 1em;
  }

  main .main-content .text h2 {
    font-size: 1.2em;
  }
  /* #End Region */

  /* #Region - figure */
  main figure img {
    margin: 3%;
    width: 250px;
    height: 250px;
    border-radius: 200px;
  }
  /* #End Region */

  /* #Region - techs */
  main .techs {
    padding: 3%;
    justify-content: space-between;
  }

  main .techs h2 {
    font-size: 1.2em;
  }

  main .techs .cards-container .card {
    width: 90px;
    height: 90px;
  }

  main .techs .cards-container i {
    font-size: 3em;
  }
  /* #End Region */

  /* #Region - projects */
  main .projects {
    padding: 3%;
  }

  main .projects h2 {
    font-size: 1.2em;
  }
  /* #End Region */
}

@media (max-width: 700px) {

  /* #Region - Header */
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
  }

  header h1 {
    font-size: 1.8em;
  }

  header h2 {
    font-size: 1em;
  }

  header nav {
    margin-top: 20px;
  }

  header nav a {
    font-size: 1.2em;
  }
  /* #End Region */

  /* #Region - main-content */
  main .main-content {
    display: flex;
    flex-direction: column;
  }

  main .main-content .text h2, .main-content .techs h2 {
    font-size: 1.2em;
  }

  /* #End Region */

  /* #Region - Techs */
  main .techs .cards-container .card {
    width: 60px;
    height: 60px;
  }

  main .techs .cards-container i {
    font-size: 2em;
  }
  /* #End Region */

  /* #Region - Projects */

  /* #End Region */
}
